<!--The Footer of my website-->

<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-left">
            <p>&copy; {{ site.time | date: "%Y" }} — <strong>Yvan Richard</strong></p>
            <p>Coded and designed with ☕️ and ❤️ by Yvan</p>
        </div>

        <div class="footer-right">
            <p><strong>Contact</strong></p>
            <p>
                <a href="mailto:yvan.richard2004@gmail.com">Email</a><br>
                <a href="https://www.linkedin.com/in/yvan-richard-a613962a1/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </p>
        </div>

    </div>
</footer>