<!--The Footer of my website-->

<footer style="background:#f6f6f6; margin-top: 2vh; margin-bottom: 3vh;">
    <div style="display:flex; justify-content:space-between; align-items:flex-start; flex-wrap:wrap;">

        <!-- Left Column -->
        <div style ="font-family: 'GT Haptik', 'Inter', 'Roboto', sans-serif;">
            <p>&copy; {{ site.time | date: "%Y" }} — <strong>Yvan Richard</strong></p>
            <p style="margin-top:-8px;"> Coded and designed with ☕️ and ❤️ by Yvan</p>
        </div>

        <!-- Right Column -->
        <div style="text-align:right; font-family: 'GT Haptik', 'Inter', 'Roboto', sans-serif;">
            <p><strong>Contact</strong></p>
            <p>
                <a href="mailto:yvan.richard2004@gmail.com">Email</a><br>
                <a href="https://www.linkedin.com/in/yvan-richard-a613962a1/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </p>
        </div>
        
    </div>
</footer>